h1,
h2,{
  font-family:Helvetica;
  font-weight: bold;
}
h1 {
  font-size: 100px;
  color: khaki;
  text-align:center;
  background-image: url("/Users/lawrencemcbride/Desktop/Codeacademy Projects/Dasmoto/Resources/image1.jpeg");
}
h2 {
  font-size: 32px;
  color: white;
  }
